# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code
.vscode/
.history/

# Intellij
.idea/
*.iml

# Dependency directories
node_modules/

# Compiled source
dist/
coverage/

# Secrets and local artifacts
.env
.env.*
*.zip
npm-debug.log*
